.container.contact__container
{
    width: 58%;
    display: grid;
    grid-template-columns: 30% 58%;
    gap:12%;
}
.contact__options{
    display: flex;
    flex-direction: column;
    gap:1.2rem
}
.contact__option
{
    background: rgb(26, 26, 39) ;
    padding: 1.2rem;
    border-radius: 1.2rem;
    text-align: center;
    border: 1px solid transparent;
    transition: var(--transition);
}
.contact__option:hover{
    background: transparent ;
    border-color:white ;
}
.contact__option-icon{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;

}
.contact__option a {
    margin-top: 0.7rem;
    display: inline-block;
    font-size: 0.7rem;
}
.contact__option h4 {
    color: white;
}

/******************** FORM ***********************/
form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
input,textarea{
    width: 100%;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background: transparent;
    border: 2px solid white;
    resize:none ;
 color: white;
}




  
/*********** MEDIA QUERIES (MEDIUM DEVICES)************/
@media screen and ( max-width:1024px ) {
    .container.contact__container{
        grid-template-columns: 1fr;
        gap: 2rem;
   
    }
    .container.contact__container form{
    width: 90%;
    gap: 1rem;
    }
    
}

/*********** MEDIA QUERIES (Small DEVICES)************/
@media screen and ( max-width:600px ) {
    .container.contact__container{
        width: var(--container-width-sm);
    }
    .container.contact__container form{
        width: 80%;
        gap: 2rem;
        }
    
}