header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}
.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}
 .header__container h1
{
color: white;
}
/*************CTA****************/
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap:1.2rem ;
    justify-content: center;
   
}
.newone{
    margin-right: 2rem;
}


/*************SOCIALS****************/
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem ;
    font-size:xx-large;
}
.header__socials::after {
    content: '';
    width: 1px;
    height: 2rem;

    background: var(--color-primary);
}
/*************ME****************/
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 40rem;
   
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 0rem 30rem 0 0;
    overflow: hidden;
    padding-top: 2rem;
    padding: 5rem 1.5rem 1.5rem 1.5 ;
}
/****************SCROLL*************/
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}
/*********** MEDIA QUERIES (MEDIUM DEVICES)************/
@media screen and ( max-width:1024px ) {
    header {
        height: 100vh;
        
        
    }
}

/*********** MEDIA QUERIES (Small DEVICES)************/
@media screen and ( max-width:600px ) {
    header {
        height: 120vh;
        gap: 2rem;
        margin-left: 2rem;
    }
    .header__socials, .scroll__down {
        display: none;
       
    }
}