nav {
    background: rgba(113, 124, 113, 0.336) ;
    width: max-content ;
    display: block;
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translate(-50%);
    bottom: 2rem;
    display:flex;
    gap: 0.8rem;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
 
}
nav a {
    background: transparent;
    padding: 0.9rem;
    border-radius: 50%;
    display: flex;
    font-size: 1.1rem;
    color: rgba(255, 255, 255, 0.623);
}

nav a:hover
{
    background: rgb(26, 26, 39);
   

}
nav a.active {
    background: rgb(26, 26, 39);
}

